<%= form_for([@content.category.it, @content.category, @content], :html => {:multipart => true}) do |f| %>
  <% if @content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content.errors.count, "error") %> sh!z blocked, Fix the following YO!:</h2>
      <ul>
      <% @content.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :category_id %>
  Type<br />
  <%= select("content", "type", ContentType.all.collect {|t| [ t.type_name, t.type_name ] }, {:prompt => 'Select content type'}) %>
  
  <div id="content_title" style="display:none">
	  <%= f.label :title %><br />
	  <%= f.text_field :title %>
  </div>
  <div id="content_code">
  	<%= f.label :file_type, "Language" %><br />
  	<%= f.text_field :file_type %>
  </div>
  <div id="content_pic" style="display:none">
    Please select an image: <br />
	<%= f.file_field :image_file %> <br /> or
	Url: <br />
	<%= f.text_area :file_name, :size=>"40x5" %>
  </div>
  
  <div id="content_shiz" style="display:none">
	  <%= f.label :theshiz %><br />
	  <%= f.text_area :theshiz %>
  </div>

  <div class="actions">
    <%= f.submit "ShizIt", :id => "post" %>
  </div>
<% end %>
