<div id="content_item" style="border: 1px solid black; padding: 10px;" class="shadow box_round">
<div style="float:left;width:80%;">
	<% yours = "" %>
	
	<% if notifications != nil && notifications.to_ary.find{ |n| n.type_id == content.id && n.type_name == content.class.name } != nil%>
		<% yours = "background-color: Green;" %>
	<% elsif current_user != nil && current_user.id == content.user_id %>
		<% yours = "background-color: #CCFFCC;" %>
	<% end %>
	
    <% if current_user != nil && current_user.id == content.user_id %>
		<div class="content_title" style="<%= yours %>">
		    <% if content.class.name == "Question" %>
				<%= link_to truncate(content.theshiz, :length => 50, :ommission => "..."), it_category_content_url(content.category.it, content.category, content)%>
			<% else %>
				<%= link_to content.title, it_category_content_url(content.category.it, content.category, content)  %>
			<% end %>
			<a href="#" style="float:right;" class="toggle">+</a></span>
		</div>
	<% else %>
		<div class="content_title" style="<%= yours %>">
			<% if content.class.name == "Question" %>
				<%= link_to truncate(content.theshiz, :length => 50, :ommission => "..."), it_category_content_url(content.category.it, content.category, content)  %>
			<% else %>
				<%= link_to content.title, it_category_content_url(content.category.it, content.category, content)  %>
			<% end %>
			<a href="#" style="float:right;" class="toggle">+</a></span>
		</div>
	<% end %>
	<div style="display:none;" class="s">
	<% if content.class.name == "Pic" %>
	<div>
		<%= image_tag("/it/#{content.category.it_id}/categories/#{content.category.id}/contents/#{content.id}/pic", :alt => "Pic", :border => 1, :size => "80x80") %>
	</div>
	<% end %>
	<div class="content_shiz">
		
			<% case content.class.name %>
			<% when "Pic" %>
				<%= content.theshiz.gsub("\n", "<br />").html_safe %>
			<% when "Rant" %>
				<%= content.theshiz.gsub("\n", "<br />").html_safe %>
			<% when "Blog" %>
				<%= content.theshiz.gsub("\n", "<br />").html_safe %>
			<% when "Question" %>
				<%= content.theshiz %>
			<% when "Link" %>
				<% if content.is_youtube == true %>
					<iframe width="560" height="315" src="http://www.youtube.com/embed/<%= content.youtube_id %>?rel=0" frameborder="0" allowfullscreen></iframe>
					<br />
				<% end %>
				<a href="<%= content.theshiz %>" target="_blank" class="smalllink"><%= content.theshiz %></a>
			<% when "Code" %>
				
			<% end %>
		
	</div>
	</div>
</div>
<div style="float:left;text-align:center;">
<span style="font-size:30px;color:#E8E8E8;">
<% case content.class.name %>
<% when "Pic" %>
:)~
<% when "Rant" %>
>:-C
<% when "Blog" %>
:&
<% when "Question" %>
?
<% when "Code" %>
01
<% end %>
<%= link_to '(POW)', {:controller => "contents", :action => 'vote', :it_id => content.category.it_id, 
			:category_id => content.category.id, :id => content.id}, :class  => :pow,:method => :post  %>
</span>
</div>
<div id="content_goodies" style="clear:both;font-size:10px;">Comments(<%= content.comments.count.to_s %>)</div>
</div>
