<%  require 'coderay' %>
<script>
function showAddDialog(){
	$("#divId").dialog({ title: 'Add a Comment' });
   	$("#divId").dialog("open");
   	$("#modalIframeId").attr("src","<%= new_it_category_content_comment_url(@content.category.it,
   	      @content.category, @content) %>");
   	return false;
}

$(document).ready(function() {
		$("#divId").dialog({
			autoOpen : false,
			modal : true,
			height : 300,
			width : 500,
			stack: false,
			close : function(event, ui) {
				location.reload(true);
			}
		});
});
</script>
<% content_for :shiz_cat do %>
   /<%= link_to @content.category.theshiz, it_category_url(@content.category.it, @content.category)  %>
<% end %>
<% content_for :shiz_cat do %>
	/<%= @content.title %>
<% end %>
<div id="content_item" style="margin:10px;">
<% if (can? :delete, @content) %>
	<%= link_to "X", [@content.category.it, @content.category, @content], 
	         :confirm => 'Are you sure?', 
	                   :method => :delete %>
<% end %>
<div id="content_title">
<h3><%= @content.title %></h3>
<span style="font-size: 12px;">Posted: <%= time_ago_in_words(@content.created_at, include_seconds:true) %> ago</span>
</div>
<% if @content.class.name == "Pic" %>
	<div>
		<% if @content.image_data != nil %>
			<%= image_tag(pic_it_category_content_url(@content.category.it, @content.category,@content), :alt => "Pic", :border => 1) %>
		<% else %>
			<%= image_tag(@content.file_name, :alt => "Pic", :border => 1) %>
		<% end%>
	</div>
<% end %>
<div id="content_shiz" style="border: 1px solid black;padding:10px;background-color:#F8F8F8;">
<% if @content.class.name == "Code" %>
<%= CodeRay.scan(@content.theshiz, @content.file_type).div().html_safe %>
<% elsif @content.class.name == "Link" %>
<%= @content.render_html.html_safe %>
<br />
<a href="<%= @content.theshiz %>" target="_blank" class="smalllink"><%= @content.theshiz %></a>
<% else %>
<%= @content.theshiz.gsub("\n", "<br />").html_safe %>
<% end %>
</div>
<br />
<div id="content_goodies" style="font-size: 13px;">
Comments (<%= @content.comments.count.to_s %>)
</div>
<hr />
</div>
<div style="margin:10px;">
<% if !@content.category.it.locked %>
	<a href="<%= new_it_category_content_comment_url(@content.category.it,
   	      @content.category, @content) %>" class="smalllink">Add Comment</a>
<% end %>
</div>
<div style="border:1px dotted black;padding:10px;margin:10px;">
<% @content.comments.each do |comment|  %>
	<%= render :partial => "comments/comment", :locals=>{:comment=> comment, :notifications => @notifications} %> 
<% end %>
</div>
<div id="divId" title="Modal Window">
    <iframe id="modalIframeId" width="100%" height="100%"
    marginWidth="0" marginHeight="0" frameBorder="0" scrolling="no"
    title="Dialog Title">Your browser does not support javascript</iframe>
</div>