<%= form_for(@it) do |f|%>
  <% if @it.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@it.errors.count, "error") %> sh!z blocked, Fix the following YO!:</h2>
      <ul>
      <% @it.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
  </div>
  <div>
  <%= f.label :is_default %>
  <%= f.check_box :is_default %><br />
  </div>
  <div>
  <%= f.label :locked %>
  <%= f.check_box :locked %><br />
  </div>
  
  <div>
  <%= f.label :description %><br />
  <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>