<% if (can? :create, It.new) %>
<%= link_to "new", new_it_path %>
<hr style="border: 1px dashed #000;"/>
<% end %>
<% @its.each do |it| %>
<div>
	<div>
	<% if it.is_default%>
		<span style="color: green"><%= link_to it.name,  it %><--- Current Shiz</span>
	<% else %>
		<span><%= link_to it.name,  it %></span>
	<% end %>
	<% if (can? :create, it) %>
		|| <%= link_to "Edit", edit_it_path(it)%>
	<%end%>
	</div>
	<div><%= it.created_at.to_date %></div>
</div>
<% end %>
