<script>
function showAddDialog(){
	$("#divId").dialog({ title: '<%=t :add_category_title %>' });
   	$("#divId").dialog("open");
   	$("#modalIframeId").attr("src","<%= new_it_category_url(@it) %>");
   	return false;
}

$(document).ready(function() {
		$("#divId").dialog({
			autoOpen : false,
			modal : true,
			height : 400,
			width : 500,
			position: [100,50],
			close : function(event, ui) {
				location.reload(true);
			}
		});
});
</script>

<div id="recent_posts">
	Recent Post:
	<% @recent_post.each do |post| %>
  	<% title  = ""%>
  	<% if post.class.name == "Question" %> 
  	 <% title = post.theshiz %>
  	<% else %> 
  	 <% title = post.title %>
  	<% end %>
  	
  	<% if post.category != nil %>
  	 <%= link_to truncate(title,:length => 20, :ommission => "..."), 
  	   it_category_content_url(post.category.it, 
  	   post.category, post), :class => "pop", :title => title %> 
  	   &nbsp;
  	<% end %> 
  <% end %>
</div>

<% if !@it.locked %>
	<div style="width:70%;text-align: left;margin:0 auto;">
	  <a href="#" onclick="return showAddDialog();" class="smalllink">
	    <%=t :add_category_button %>
	  </a>
	</div>
<% end %>

<div id="category">
<%= render :partial => "categories/list", 
  :locals=>{:categories=> @categories, :notifications => @notifications} %> 
</div>

<br />
<div id="most_viewed">
  Most Viewed:
  <% @popular.each do |post| %>
  	<% title  = ""%>
  	<% if post.class.name == "Question" %> 
  	 <% title = post.theshiz %>
  	<% else %> 
  	 <% title = post.title %>
  	<% end %>
  	
  	<% if post.category != nil %>
  		<%= link_to truncate(title,:length => 20, :ommission => "..."), 
  		it_category_content_url(post.category.it, post.category, post), :class => "pop", :title => title %>
  		&nbsp;
  	<% end %> 
  <% end %>
</div>

<div id="divId" title="Modal Window">
    <iframe id="modalIframeId" width="100%" height="100%"
    marginWidth="0" marginHeight="0" frameBorder="0" scrolling="no"
    title="Dialog Title">Your browser does not support javascript</iframe>
</div>