<div id="comment_item">
<div id="comment_shiz">
<% if (can? :delete, comment) %>
<%= link_to "X", it_category_content_comment_path(comment.content.category.it, 
	comment.content.category, comment.content, comment), :confirm => 'Are you sure?', :method => :delete %>
<% end %>
<a name="<%= comment.comment_number.to_s%>" class="smalllink">#<%= comment.comment_number.to_s%></a>
<span style="font-size: 12px;"><%= time_ago_in_words(comment.created_at, true) %> ago:</span>
<br />
<p class="comments">
<%= comment.comment_text.html_safe %>
</p>
</div>
<div id="comment_goodies">
</div>
</div>