<script>
function expand_all()
{
	alert('hide');
	$('div.s').toggle(
		
		function () {
               $('div.s').show();
         },
         function () {
                $('div.s').hide();
         }	
	);
	
	return false;
}

$(document).ready(function() {
		 $('a.toggle').toggle(
			function () {
			   if($(this).text() == "-")
			   {
			   		$(this).text("+");
			   }
			   else
			   {
			   	  $(this).text("-");
			   }
               
               $(this).parent('div').next('div').toggle();
            },
            function () {
               if($(this).text() == "-")
			   {
			   		$(this).text("+");
			   }
			   else
			   {
			   	  $(this).text("-");
			   }
                $(this).parent('div').next('div').toggle();
            }
		 );
		 
		 $('a[name="expand"]').toggle(
		 	function () {
               $('div.s').show();
               $(this).text("-");
               $('.toggle').text("-");
            },
            function () {
               $('div.s').hide();
               $(this).text("+");
               $('.toggle').text("+");
            }	 	
		 );
});

</script>
<div style="width:70%;text-align: center;margin:0 auto;"><%= image_tag("footer.png") %></div>
<% content_for :shiz_cat do %>
   /<%= @category.theshiz %>
<% end %>
<div style="width:70%;margin:0 auto;">
<div id="content" style="float:left;width:100%;">
<% if !@category.it.locked %>
<%= link_to "add", new_it_category_content_url(@category.it, @category), :class => "smalllink" %>
<% end %>
<% if @sort == "recent" %>
<span style="float:right;"> || View By: <%= link_to "Popularity", it_category_url(@category.it, @category) +  "?sort=pop" , :class => "smalllink"%></span>
<% else %>
<span style="float:right;"> || View By: <%= link_to "Recent", it_category_url(@category.it, @category) +  "?sort=recent" , :class => "smalllink"%></span>
<% end %>
<a href="#" style="float:right;padding-right:5px;" name="expand" class="smalllink">+</a><br />
<% first = "background-color:#E6F5FF;" %>
<% @contents.each do |content|  %>
	<%= render :partial => "contents/shiz_summary", :locals=>{:content=> content, :first => first} %> 
	<% first = ""%>
<% end %>
</div>
<div style="clear:both;"></div>
<%= will_paginate @contents %>
</div>
<br />
<br />
