<script>
function showAddDialog(){
	$("#divId").dialog({ title: 'Add Some Shiz' });
   	$("#divId").dialog("open");
   	$("#modalIframeId").attr("src","<%= new_it_category_content_url(@it, @category) %>");
   	return false;
}
function expand_all()
{
	alert('hide');
	$('div.s').toggle(
		
		function () {
               $('div.s').show();
         },
         function () {
                $('div.s').hide();
         }	
	);
	
	return false;
}

$(document).ready(function() {
		$("#divId").dialog({
			autoOpen : false,
			modal : true,
			height : 600,
			width : 500,
			close : function(event, ui) {
				location.reload(true);
			}
		});
		
		 $('a.toggle').toggle(
			function () {
			   if($(this).text() == "-")
			   {
			   		$(this).text("+");
			   }
			   else
			   {
			   	  $(this).text("-");
			   }
               
               $(this).parent('div').next('div').toggle();
            },
            function () {
               if($(this).text() == "-")
			   {
			   		$(this).text("+");
			   }
			   else
			   {
			   	  $(this).text("-");
			   }
                $(this).parent('div').next('div').toggle();
            }
		 );
		 
		 $('a[name="expand"]').toggle(
		 	function () {
               $('div.s').show();
               $(this).text("-");
               $('.toggle').text("-");
            },
            function () {
               $('div.s').hide();
               $(this).text("+");
               $('.toggle').text("+");
            }	 	
		 );
});

</script>
<% content_for :shiz_cat do %>
   :<%= @category.theshiz %>
<% end %>
<h3><%= @category.theshiz %></h3>
<div id="content" style="float:left;border: 0px dotted black;width:80%;">
<% if @category.it.is_current %>
<input type="button" id="add" value="Add" onclick="return showAddDialog()">
<% end %>
<% if @sort == "recent" %>
<span style="float:right;"> || View By: <%= link_to "Popularity", it_category_url(@it, @category) +  "?sort=pop" %></span>
<% else %>
<span style="float:right;"> || View By: <%= link_to "Recent", it_category_url(@it, @category) +  "?sort=recent" %></span>
<% end %>
<a href="#" style="float:right;padding-right:5px;" name="expand">+</a>
<% @contents.each do |content|  %>
	<%= render :partial => "contents/shiz_summary", :locals=>{:content=> content, :notifications => @notifications} %> 
<% end %>
</div>
<div style="clear:both;"></div>
<div id="divId" title="Modal Window">
    <iframe id="modalIframeId" width="100%" height="100%"
    marginWidth="0" marginHeight="0" frameBorder="0" scrolling="no"
    title="Dialog Title">Your browser does not support javascript</iframe>
</div>
<%= will_paginate @contents %>