<!DOCTYPE html>
<html>
<head>
  <title><%=t :title %></title>
  <meta name="keywords" content="<%=t :meta_keywords %>" />
  <meta name="description" content="<%=t :meta_description %>" />
  
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <link rel="shortcut icon" href="/favicon.ico" />
  <script type="text/javascript">
		function showAbout(){
			$("#about").dialog({ title: 'About' });
			$("#about").dialog("open");
			return false;
		}
		
		$(document).ready(function() {
			$("#about").dialog({
				   autoOpen: false,
				   modal: true,
				   height: 150,
				   width: 550,
			});
		});
   </script>
</head>
<body>

<div style="width:100%;background-color:rgba(0,0,0, 0.6);">
  <div style="width:70%;text-align: left;margin:0 auto;padding:0">
    <a href="/its/<%= @it.to_param %>" style="font-size: 25px;" title="<%=t :title %>" class="title">
      <%=t :page_header_title %></a>
      
  	<%= yield :shiz_cat %><%= yield :shiz %>
  </div>
</div>


<% if !notice.nil? || !alert.nil? %>
  <script>
    $(function() {
       $('#alerts').delay(10).fadeIn('normal', function() {
          $(this).delay(2500).fadeOut();
       });
    });
  </script>
<% end %>

<div id="alerts" style="display:none;position: absolute;">
  <p class="notice" style="background-color: #FFFF99;" id="flash"><%= notice %></p>
  <p class="alert" style="display:none;background-color: red"><%= alert %></p>
</div>

<div id="content">
  <%= yield %>
</div>

<div id="footer" style="width:%100;height:100%;background-color: #808080;padding:25px;border: 1px solid black;">
  <div style="width:75%;height:100%;text-align:left;margin:0 auto;padding:0;">
    <div style="float:left;">
    <a href="#" onclick="return showAbout();" class="footer">About</a><br />
    <%= link_to('Moderators', "/its/", :class => "footer") %><br />
    <a href="https://github.com/ontehfritz/theshizit/issues" class="footer">Bugs</a><br />
    <a href="https://github.com/ontehfritz/theshizit/issues" class="footer">Feature Request</a><br />
    </div>
    <div style="float: left;text-align: center;">
      <a href="/its/<%= @it.to_param %>" style="font-size: 50px;color:white;">:-(~</a>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
</div>

<div id="about" style="display: none;">
	<p>
		Anonymous web board with a cockamamie name<br />
		TheShizit Board v0.2
	</p>
</div>

</body>
</html>
